name: Build and deploy docs to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Sphinx docs & JupyterLite in Pixi environment
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.63.2
          environments: doc jp-lite

      - run: pixi run build-pages

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./docs/build/html

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
